.productSkel-left {
  padding: 2rem 2rem 2rem 6rem;
  width: 45%;
}
.productSkel-img {
  display: block;
  height: 100%;
  width: 100%;
  background-position: 100% 0;
  background-image: linear-gradient(
    90deg,
    #fff 0,
    rgba(229 229 229/ 90%) 4rem,
    #ccc 8rem
  );
  background-size: 300%;
  animation: wavy-loading 1.5s linear infinite alternate;
}
.productSkel-right {
  width: 55%;
  padding: 4rem 2rem 4rem 4rem;
  border-left: 0.2rem solid var(--white);
}

.productSkel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.productSkel-header > h1 {
  display: block;
  height: 4rem;
  width: 100%;
  max-width: 20rem;
  background-position: 100% 0;
  background-image: linear-gradient(
    90deg,
    #999 0,
    rgba(229 229 229/ 90%) 4rem,
    #ccc 8rem
  );
  background-size: 300%;
  animation: wavy-loading 1.5s linear infinite alternate;
}
.productSkel-header > p {
  display: block;
  height: 2rem;
  width: 100%;
  max-width: 4rem;
  background-position: 100% 0;
  background-image: linear-gradient(
    90deg,
    #999 0,
    rgba(229 229 229/ 90%) 4rem,
    #ccc 8rem
  );
  background-size: 300%;
  animation: wavy-loading 1.5s linear infinite alternate;
}
.p1,
.p2,
.p3,
.p4 {
  width: 100%;
  height: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
  background-position: 100% 0;
  background-image: linear-gradient(
    90deg,
    #999 0,
    rgba(229 229 229/ 90%) 4rem,
    #ccc 8rem
  );
  background-size: 300%;
  animation: wavy-loading 1.5s linear infinite alternate;
}
.p3 {
  width: 97%;
}
.p4 {
  width: 95%;
}
.skel-cta {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.skel-btn {
  flex: 1;
  display: block;
  border: 0.2rem solid #fff;
  height: 4.5rem;
  width: 90%;
  background-position: 100% 0;
  background-image: linear-gradient(
    90deg,
    #fff 0,
    rgba(229 229 229/ 90%) 4rem,
    #ccc 8rem
  );
  background-size: 300%;
  animation: wavy-loading 1.5s linear infinite alternate;
}
.like-skel {
  display: block;
  border: 0.2rem solid #fff;
  height: 4.5rem;
  width: 10%;
  background-position: 100% 0;
  background-image: linear-gradient(
    90deg,
    #fff 0,
    rgba(229 229 229/ 90%) 4rem,
    #ccc 8rem
  );
  background-size: 300%;
  animation: wavy-loading 1.5s linear infinite alternate;
}
@keyframes wavy-loading {
  to {
    background-position: -100% 0%;
  }
}
@media (max-width: 960px) {
  .productSkel-left {
    text-align: center;
    width: 100%;
    padding: 2rem;
  }
  .productSkel-right {
    border-left: 0;
    width: 100%;
  }
  .productSkel-img {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    height: 50rem;
    object-fit: contain;
  }
}
