.comic-box {
  border: 0.1rem solid var(--white);
}
.comic-box-cta {
}
.img-box {
  padding: 1.5rem;
  border-bottom: 0.1rem solid var(--white);
}
.img-box > img {
  height: 40rem;
  width: 100%;
  /* max-width: 30rem; */
}
.text-box {
  padding: 1rem 1.5rem;
}
.text-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.text-box a:link,
.text-box a:visited {
  font-size: 3.2rem;
  color: var(--white);
  font-family: var(--secondary-font);
}
.text-box a:active,
.text-box a:hover {
  /* background-color: #fb2136; */
}
.price {
  font-size: 2rem;
  font-family: var(--secondary-font);
}
