.featured__boxes {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 960px) {
  .featured__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 593px) {
  .featured__boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
