.section-quotes {
  margin: 4rem 0;
}

.Quotes {
  background-color: var(--primary-color);
  position: relative;
  border: 0.3rem solid #fff;
  height: 29rem;
  padding: 1.5rem;
}
.Quotes > h3 {
  font-weight: bolder;
  font-size: 3rem;
  text-transform: uppercase;
  z-index: 2;
}
.Quotes > img {
  aspect-ratio: 6/2;
  object-fit: contain;
  position: absolute;
  width: 100%;
  min-width: 60rem;
  z-index: 1;
  mix-blend-mode: color-burn;
}
@media (max-width: 960px) {
  .Quotes {
    align-items: flex-end;
    padding: 7.2rem 1rem;
  }
  .Quotes > h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 593px) {
  .Quotes > h3 {
    font-size: 2rem;
  }
  .Quotes > img {
    left: -2rem;
    bottom: -2.5rem;
  }
}
