@font-face {
  font-family: 'BebasNeue';
  src: url(assets/fonts/BebasNeue-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --secondary-font: 'BebasNeue', sans-serif;
  --primary-font: 'Inter', sans-serif;
  --primary-color: #708d81;
  --white: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--secondary-font);
  overflow-x: hidden;
  font-weight: 400;
  font-size: 1.6rem;
  font-display: swap;
  color: var(--white);
  background-color: #010a12;
}
body::-webkit-scrollbar {
  background-color: transparent;
  background-color: var(--primary-color);
}
body::-webkit-scrollbar-thumb {
  height: 1.8rem;
  background-color: #010a12;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.heading-primary {
  font-size: 4rem;
  font-family: var(--secondary-font);
  margin-bottom: 2rem;
  color: var(--primary-color);
}
.product__overview {
}
.product__overview--left {
}
@media (max-width: 593px) {
  .heading-primary {
    font-size: 3rem;
  }
}
